@import url('https://fonts.googleapis.com/css?family=Dancing+Script');


html, body {
    background: #3A3637;
    color: #fff;
  font-family: 'Dancing Script', cursive;
}

h1 {
  padding: 0px;
  margin: 0px;
}



input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.questionLink {
  cursor: pointer;
  font-family: arial;
}

.logo {
  width: 12vw;
  height: 12vw;
position: fixed;
  left: 80vw;
  top: 10px ;
  border-radius: 50%;
 
}

#leftBee {
  width: 18vw;
  height: 18vw;
  position: fixed;
  display:inline-block;
  left: -50px;
  top: 100px;
  
}

#cryBee {
  width: 18vw;
  height: 18vw;
  position: fixed;
  display:inline-block;
  left: -50px;
  top: 200px;
  
}

#happyBee {
  width: 18vw;
  height: 18vw;
}

#correct { 
  padding-top: -10px;
  background-color: #F7DC32;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 5vw;
  text-align: center;
  min-height: 90vh;
  text-shadow: 1px 1px 15px black;
}

#incorrect {

 
  padding-top: -10px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 5vw;
  text-align: center;
  min-height: 90vh;
  display: none;
  text-shadow: 1px 1px 15px grey;
}



#the-correct-answer {
  font-family: arial;
  font-size: 5vw;
  text-align: center;
  max-height: 100%;
  text-shadow: none;
  /*padding-left: 20%;
  padding-right: 20%;*/
  margin-top: 0px;
}


#the-correct-word {
  font-family: arial;
  font-size: 10vw;
  text-align: center;
  text-shadow: none;
  color: #ffab23;
  width: 12vw;
  height: 12vw;
position: fixed;
  left: 35vw;
  top: 20vw ;
  
}

.q-area {
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: #3A3637;
  padding: 0px;
  max-width: 70%;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
}

#questions {
  font-size: 5vw;
  padding: 10px;

}


input{
  width: 60vw;
  height: 10vw;
  font-size: 6vw;
  text-align: center;
  margin-bottom: 2vw;
  margin-top: -30vw;
  margin-right: auto;
  margin-left: auto;
  border-radius: 4vw;
 
 
}

button {
  width: autp;
  height: auto;
  font-size: 3vw;
  margin-bottom: 2vw;
  border-radius: 1vw;
  padding-right: 2vw;
  padding-left: 2vw;
}

.myButton {
	-moz-box-shadow: 0px 1px 0px 0px #fff6af;
	-webkit-box-shadow: 0px 1px 0px 0px #fff6af;
	box-shadow: 0px 1px 0px 0px #fff6af;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
	background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
	background-color:#ffec64;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #ffaa22;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
  font-weight:bold;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
	background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
	background-color:#ffab23;
}
.myButton:active {
	position:relative;
	top:1px;
}


#counts {
  font-family: arial;
  position: fixed;
  bottom: 0;
  margin: 10px;
 
}




/*----------------AMINATIONS BELOW--------------------*/

/*Animations for Bee movements*/
.rotate {-webkit-animation:rotate-center 0.6s ease-in-out both;animation:rotate-center .6s ease-in-out both}

/* ----------------------------------------------
 * Generated by Animista on 2018-11-29 12:44:26
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes rotate-center{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}

@keyframes rotate-center{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}


.shake-horizontal/*, #cryBee*/ {-webkit-animation:shake-horizontal .8s cubic-bezier(.455,.03,.515,.955) both;animation:shake-horizontal .8s cubic-bezier(.455,.03,.515,.955) both}

@-webkit-keyframes shake-horizontal{0%,100%{-webkit-transform:translateX(0);transform:translateX(0)}10%,30%,50%,70%{-webkit-transform:translateX(-10px);transform:translateX(-10px)}20%,40%,60%{-webkit-transform:translateX(10px);transform:translateX(10px)}80%{-webkit-transform:translateX(8px);transform:translateX(8px)}90%{-webkit-transform:translateX(-8px);transform:translateX(-8px)}}

@keyframes shake-horizontal{0%,100%{-webkit-transform:translateX(0);transform:translateX(0)}10%,30%,50%,70%{-webkit-transform:translateX(-10px);transform:translateX(-10px)}20%,40%,60%{-webkit-transform:translateX(10px);transform:translateX(10px)}80%{-webkit-transform:translateX(8px);transform:translateX(8px)}90%{-webkit-transform:translateX(-8px);transform:translateX(-8px)}}



/*Score Container*/
.scrCont{
  display: flex;
  flex-direction: row;
  text-align: center;
  background: #333;
  padding-bottom: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
  
 
 
}

/*All Score Styling*/
.houseTitle{
  font-family: 'Oswald', sans-serif;
  color: #CCC;
  text-shadow: 1px 1px 5px black;
  font-size: 3vw;
  
}
.houseScore{
  font-family: 'Oswald', sans-serif;
  color: #CCC;
  text-shadow: 1px 1px 5px black;
  font-size: 10vw;
  
}

/*Individual Score Styling*/
#lamScore{
width: auto;
  height: auto;
flex-shrink: 1;
  flex-grow: 1;
  margin: 5px;
 /* border-right: 1px solid white;
  border-left: 1px solid white;*/
}
#bailScore{
width: auto;
  height: auto;
 flex-shrink: 1;
  flex-grow: 1;
  margin: 5px;
 /* border-right: 1px solid white;
  border-left: 1px solid white;*/
}
#chelScore{
width: auto;
  height: auto;
 flex-shrink: 1;
  flex-grow: 1;
  margin: 5px;
  /*border-right: 1px solid white;
  border-left: 1px solid white;*/
}
#mercScore{
width: auto;
  height: auto;
flex-shrink: 1;
  flex-grow: 1;
  margin: 5px;
  /*border-right: 1px solid white;
  border-left: 1px solid white;*/
}
#pennScore{
width: auto;
  height: auto;
 flex-shrink: 1;
  flex-grow: 1;
  margin: 5px;
  /*border-right: 1px solid white;
  border-left: 1px solid white;*/
}

/*+10 Styling - needs extra JS to incluse -10*/
#tagA{
 transform-style: preserve-3d;
  display: none;
  position:absolute;
  /*transform: translateX(-50%);*/
  font-size:50px;
  line-height: 400px;
  color: #23224a;
}

/*Add/minus score styling*/
.addMinus{
  width:30px;
  height: 30px;
  display: inline-block;
  margin-top: 20px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 10%;
  border: none;
  background: white;
  cursor: pointer;
  font-family: arial;
  font-size: 15px;
  

}

/*Score IDs for JavaScript*/
#scoreA{
  color: #6b4fa1;
}
#scoreB{
  color: #00aeef;
}
#scoreC{
  color: #0b9444;
}
#scoreD{
  color: #ef4036;
}
#scoreE{
  color: #fdd521;
}




/********************************************COUNTDOWN TIMER**********************************/

#countdown_text{
display: block;
  font-family: arial;
  font-size: 10vw;
  color: #ffab23;
  position: fixed;
  right: 30px;
  top: 170px ;
  
}
